body{
   background-color: rgb(219, 197, 258);
    font-family:'pacifico', cursive;
    
}
.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(250, 80, 162);
  font-size: 4.5vh ;
}
.item {
   float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(120, 20, 110);
}
div{
    text-align: center;
    border-style:groove;
    border-color: rgb(255,0,0);
    box-shadow:5px 5px 5px;
    margin-bottom: 30px;
    width:50vh;
}
a{
    text-align: center;
    font-family:'pacifico', cursive;
}
h1{
  color: rgb(255,255,255);
  text-align: center;
}
.ul{
   background-color: rgb(150, 161, 163);
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10;
  box-sizing: border-box;
}
p{
  padding: 30px 30px;
}